@font-face {
	font-family: Lora;  
	src: local('Lora'), url("fonts/Lora/Lora-Regular.ttf") format('truetype');  
	font-weight: normal;  
}

body {
	font-family: 'Lora';
	text-align: center;
	margin: 0;
}

body hr {
	color: #39131a;
}

#cover {
	width: 100%;
	height: 100%;
	background-image: url("img/fire-day-cropped.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

#wrapper {
	display: block;
	/*border: 1px #a2a2a2 solid;*/
	width: 90%;
	margin: 0px auto;
}

/* header image */
#wrapper > a > img {
	border: 2px #827b7b solid;
	margin-top: 10px;
}

#header {
	border: 2px #39131a solid;
	margin-top: 5px;
	background-image: url("img/oak-wood-1-scaled.jpeg");
}

/* default menu */
.menu ul,
#menu-header-menu  {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 120%;
}

.menu ul > li,
#menu-header-menu li {
	display: inline-block;
	padding: 8px 30px 8px 30px;

	/*
	background-image: url("img/oak-trunk-section-round-small.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    */
}

.menu > ul > li > a,
#menu-header-menu  > li > a {
	text-decoration: none;
	color: #fff;
	/*text-shadow: 2px 2px #000;*/
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	font-variant: small-caps;
}

#main {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#content {
	border: 2px #7a4e29 solid;
	background-image: url("img/oak-wood-content-1.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
	text-align: left;
	padding-left: 5em;
	color: #dcf3e9;
	text-shadow: 2px 2px #000;
}

#content > h1 {
	color: #349431;
	/*text-shadow: 2px 2px #000;*/
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	font-variant: small-caps;
}

#accommodation post-meta {
	display: none;
}

#delimiter {
	clear: both;
}

#footer {
	border: 2px #39131a solid;
	background-image: url("img/oak-wood-1-scaled.jpeg");
	color: #fff;
	text-shadow: 4px 4px #000;
	margin-bottom: 5px;
}

.title {
	font-size: 11pt;
	font-family: verdana;
	font-weight: bold;
}

@media screen and (max-width: 993px) {
	/* hide header image */
	#wrapper > a > img {
		display: none;
	}

	#header {
		margin-top: 10px;
	}
}

@media screen and (max-width: 500px) {
	/* hide cover */
	#cover {
		display: none;
	}

	/* hide header image */
	#wrapper > a > img {
		display: none;
	}

	#content {
		padding-left: 1em;	
	}

}